{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

<div id="welcome">
    <h1>{{ title }}</h1>
    <div class='btn-summary' id="summary-div">
      <a href="#" class="btn btn-success btn-summary" id='summary-button'>Analysis finished. Click to see a summary.</a>
    </div>
  <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
          Percentage of time used by every step. Hover over the sections to see what step it corresponds to.
      </p>
  </div>
  <div class="progress" id='progress_bar'>
  </div>
  <div class="col-lg-6" id="progress_graph" class="graphviz-graph">
      <!-- Source for the graph (or static image) will go here -->
  </div>
  <div class="col-lg-6">
        <div class="bs-component">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Pipeline step</th>
                <th>Started</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody id="progress_table"></tbody>
          </table>
        </div>
        {% if update %}
        <div class="bs-component">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Last log message read</h3>
              </div>
              <div class="panel-body">
                  <pre class="log-message" id='panel-message'>
                  </pre>
              </div>
            </div>
        </div>
        {% endif %}
  </div>
</div>

{% endblock %}
