/* bcbio-nextgen-monitor specific variables */

p {
    text-align:justify;
}

pre.log-message {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
