/* bcbio-nextgen-monitor specific variables */

p {
    text-align:justify;
}

pre.log-message {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.progress {
    height: 20px;
}


div.btn-summary {
    text-align: center;
}

a.btn-summary {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

a.btn-summary.disabled {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

div.progress-hint {
    text-align: center;
    color: #bdc3c7;
    font-style: italic;
    margin-bottom: 1px;
    margin-top: 10px;
}
